<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!doctype html>
<html>
  <h1>{{title}}</h1>
    <h2>{{question1}}</h2>
      <button type="button">5 Minutes</button>
      <button type="button">10 Minutes</button>
      <button type="button">15 Minutes</button>
      <button type="button">20+ Minutes</button>
      <img src="/assets/infographic.jpeg" alt="Water Usage Infographic" style="float:right;width:450px;height:600px;">
    <h2>{{question2}}</h2>
      <button type="button">0</button>
      <button type="button">1-2</button>
      <button type="button">3-4</button>
      <button type="button">5+</button>
    <h2>{{question3}}</h2>
      <button type="button">0-2</button>
      <button type="button">2-4</button>
      <button type="button">4-6</button>
      <button type="button">6+</button>
    <h2>{{question4}}</h2>
      <button type="button">0-2</button>
      <button type="button">2-3</button>
      <button type="button">3-4</button>
      <button type="button">4+</button>
    <h2>{{question5}}</h2>
      <button type="button">0</button>
      <button type="button">1</button>
      <button type="button">2</button>
      <button type="button">3+</button>
    <br />
    <br />
    <br />
    <p>Click Submit to see your results!</p>
    <button (click)="simpleAlert()">Submit</button>

</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
